//
body
  padding 40px 1em
  background-color rgba(15, 35, 20, .5)

  h1
    position fixed
    top 0
    left 0
    width 100%
    height 40px
    margin 0
    padding 0 1em
    box-sizing border-box
    background-color rgba(15, 35, 20, .5)
    color white

  a
    color white
    text-decoration none
    &:hover
      text-decoration underline

// overwrite d-textarea-mc styles
.d-textarea-mc
  height 400px
  border 1px solid rgba(15, 35, 20, .5)
  &.-focus
    outline 1px solid rgba(15, 35, 20, .5)

  textarea
    padding .5em
    font-size 12pt
    outline none
